.loader__container{
    display: flex;
    justify-content: center;
    align-items: center;
    & .loader{
        width: 30px;
        height: 30px;
        background-color: #ff6e6c;
        border-radius: 50%;
        animation: fade 1s infinite linear forwards
    }

}

@keyframes fade{
    to{
        transform: scale(2);
        opacity: 0;
    }
}