.carousel__container{
    padding: 10px 10px;
    .carousel__item{
        height: 450px;
        color: #fff;
        list-style: 160px;
        text-align: center;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
    }
}